<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Eugene Hwang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Eugene's professional website">
    <title>Eugene Hwang</title>
</head>

<body style="font-family: Arial">
    <header style="color:blue; background:lightblue">
        <h1>Eugene Hwang</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>

    <div class="main">
        <h2>Contact Me</h2>
        <!-- Required fields for name, email, comment -->
        <form>
            <label for="name">Your Name (required):</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="email">Your Email (required):</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="comment">Comment:</label><br>
            <textarea id="comment" name="comment"></textarea><br><br>

            <button type="submit">Submit</button>
        </form>

        <br>
        <table border="1">
            <tr>
                <th>Contact Method</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Phone</td>
                <td>914-886-2709</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>eugenehw@andrew.cmu.edu</td>
            </tr>
        </table>
    </div>

    <footer>
        &copy; 2025 Eugene Hwang
    </footer>
</body>

</html>