<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Eugene Hwang" />
    <meta name="keywords" content="Carnegie Mellon University, Information Systems" />
    <meta name="description" content="Eugene's professional website" />
    <title>Contact Me - Eugene Hwang</title>


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet" />


    <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
    <header>
        <h1 id="webname">Eugene Hwang</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>

    <div class="main">
        <h2>Contact Me</h2>
        <form>
            <label for="name">Your Name (required):</label><br />
            <input type="text" id="name" name="name" required /><br /><br />

            <label for="email">Your Email (required):</label><br />
            <input type="email" id="email" name="email" required /><br /><br />

            <label for="comment">Comment:</label><br />
            <textarea id="comment" name="comment"></textarea><br /><br />

            <button type="submit">Submit</button>
        </form>

        <br />
        <table border="1">
            <tr>
                <th>Contact Method</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Phone</td>
                <td>914-886-2709</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>eugenehw@andrew.cmu.edu</td>
            </tr>
        </table>
    </div>

    <footer>
        &copy; 2025 Eugene Hwang
    </footer>
</body>

</html>