<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Eugene Hwang" />
    <meta name="keywords" content="Carnegie Mellon University, Information Systems" />
    <meta name="description" content="Eugene's professional website" />
    <title>CV - Eugene Hwang</title>


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="../static/style.css" />

    <script defer src="../static/script.js"></script>
</head>

<body>
    <header>
        <h1 id="webname">Eugene Hwang</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>

    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Resume</th>
            </tr>
            <tr>
                <td>Eugene Hwang</td>
                <td><a href="../static/cv.pdf">Download PDF</a></td>
            </tr>
            <tr>
                <td>Project Experience</td>
                <td>Details...</td>
            </tr>
            <tr>
                <td>Honors &amp; Awards</td>
                <td>Details...</td>
            </tr>
        </table>
    </div>

    <footer>
        &copy; 2025 Eugene Hwang
    </footer>
</body>

</html>