<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Eugene Hwang" />
    <meta name="keywords" content="Carnegie Mellon University, Information Systems" />
    <meta name="description" content="Eugene's professional website" />
    <title>For Fun - Eugene Hwang</title>


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet" />


    <link rel="stylesheet" href="../static/style.css" />

    <script defer src="../static/script.js"></script>
</head>

<body>
    <header>
        <h1 id="webname">Eugene Hwang</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>

    <div class="mainLayout">
        <div class="item1">
            <h2>Things I Like to Do for Fun</h2>
            <ul>
                <li>Karaoke</li>
                <li>Guitar</li>
                <li>Machine Learning</li>
                <li>Sleeping</li>
            </ul>
            <!-- <button id="SeeMoreBTN" onclick="showList()">See More</button> -->
        </div>
        <div class="item2">
            <img src="../static/eugenephoto.jpg" alt="Fun Image" class="funIMG" width="200" />
        </div>
        <div class="item3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kTtE7Ki16eA" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; presentation" 
                allowfullscreen>
            </iframe>
        </div>
        <div class="item4">
            <div class="container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button onclick="getAdvice()">Get Advice</button>
            </div>
        </div>
    </div>
    <footer>
        &copy; 2025 Eugene Hwang :)
    </footer>
</body>

</html>