/* global styling */
* {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
    margin: 5px;
    padding: 5px;
}

/* header */
#webname {
    background-color: #92ad70;
    color: #d9ff00;
    padding: 20px;
}

/* nav section and links */
nav a {
    text-decoration: none;
    /* disables underline */
    color: #333333;
    margin-right: 15px;
}

/* table headers */
th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #92ad70;
    color: #ffffff;
    width: fit-content;
}

/* zerbra stripes */
tr:nth-child(even) {
    background-color: #cdcbcb;
}

/* form styling */
form *{
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* submit button */
input[type="submit"] {
    background-color: #92ad70;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#FavList {
    display: none;
}

#SeeMoreBTN {
    background-color: lightgrey;
    border: 0px;
    border-radius: 16px;
    font-size: large;
}

#shortIntro {
    display: block;
}

#readLess,
#longIntro {
    display: none;
}

#readLess,
#readMore {
    font-style: italic;
    background-color: lightgrey;
}

#ValidateMsg {
    width: max-content;
    margin: auto;
}